@page "/worker/management/menu"

@using Service.DishService
@using Service.DishService.Dto
@using Service.IngridentsService
@using Service.IngridentsService.Dto
@using Service.AllergyService
@using Service.AllergyService.Dto

@inject IDishService dishService
@inject IIngredientsService ingredientService
@inject IAllergyService allergyService

@code {
    public List<FullDishDTO> Dishes { get; set; } = new List<FullDishDTO>();
    public List<FullIngridientDTO> Ingredients { get; set; } = new List<FullIngridientDTO>();
    public List<FullAllergyDTO> Allergies { get; set; } = new List<FullAllergyDTO>();


    public FullDishDTO newDishObject { get; set; } = new FullDishDTO();
    public FullIngridientDTO newIngredientObject { get; set; } = new FullIngridientDTO();
    public FullAllergyDTO newAllergyObject { get; set; } = new FullAllergyDTO();

    public FullDishDTO selectedUpdateDish { get; set; }
    public FullIngridientDTO selectedUpdateIngredient { get; set; }
    public FullAllergyDTO selectedUpdateAllergy { get; set; }



    protected override async Task OnInitializedAsync()
    {
        Dishes = await dishService.GetAllDishesAsync();
        Ingredients = await ingredientService.GetIngredientsAsync();
        Allergies = await allergyService.GetAllergiesAsync();
        StateHasChanged();
    }

    #region Create Functions

    public async void OnCreateDishModalCallback(object createData)
    {
        FullDishDTO newDish = (FullDishDTO)createData;
        FullDishDTO createdDish = await dishService.CreateDishAsync(newDish);

        if (createdDish != null)
        {
            Dishes.Add(createdDish);
        }

        StateHasChanged();
    }

    public async void OnCreateIngredientModalCallback(object createData)
    {
        FullIngridientDTO newIngredient = (FullIngridientDTO)createData;
        FullIngridientDTO createdIngredient = await ingredientService.CreateIngridientAsync(newIngredient);

        if (createdIngredient != null)
        {
            Ingredients.Add(createdIngredient);
        }

        StateHasChanged();
    }

    public async void OnCreateAllergyModalCallback(object createData)
    {
        FullAllergyDTO newAllergy = (FullAllergyDTO)createData;
        FullAllergyDTO createdAllergy = await allergyService.CreateAllergyAsync(newAllergy);

        if (createdAllergy != null)
        {
            Allergies.Add(createdAllergy);
        }

        StateHasChanged();
    }

    #endregion

    #region Update Functions

    public async void OnUpdateDishModalCallback(object updateData)
    {
        FullDishDTO updateDish = (FullDishDTO)updateData;
        FullDishDTO updatedDish = await dishService.UpdateDishAsync(updateDish);

        if (updatedDish != null)
        {
            Dishes.Where(dish => dish.DishId == updateDish.DishId).FirstOrDefault().DishName = updatedDish.DishName;
        }

        StateHasChanged();
    }


    public async void OnUpdateIngredientModalCallback(object updateData)
    {
        FullIngridientDTO updateIngredient = (FullIngridientDTO)updateData;
        FullIngridientDTO updatedIngredient = await ingredientService.UpdateIngridientAsync(updateIngredient);

        if (updatedIngredient != null)
        {
            Ingredients.Where(ingredient => ingredient.IngridientId == updatedIngredient.IngridientId).FirstOrDefault().IngridientName = updateIngredient.IngridientName;
        }

        StateHasChanged();
    }

    public async void OnUpdateAllergyModalCallback(object updateData)
    {
        FullAllergyDTO updadteAllergy = (FullAllergyDTO)updateData;
        FullAllergyDTO updatedAllergy = await allergyService.UpdateAllergyAsync(updadteAllergy);

        if (updatedAllergy != null)
        {
            Allergies.Where(allergy => allergy.AllergyId == updatedAllergy.AllergyId).FirstOrDefault().AllergyName = updatedAllergy.AllergyName;
        }

        StateHasChanged();
    }

    #endregion

    #region Select Functions

    public void SelectUpdateDish(int dishId)
    {
        selectedUpdateDish = Dishes.Where(dish => dish.DishId == dishId).FirstOrDefault();
        StateHasChanged();
    }

    public void SelectUpdateIngredient(int ingredientId)
    {
        selectedUpdateIngredient = Ingredients.Where(ingredient => ingredient.IngridientId == ingredientId).FirstOrDefault();
        StateHasChanged();
    }

    public void SelectUpdateAllergy(int allergyId)
    {
        selectedUpdateAllergy = Allergies.Where(allergy => allergy.AllergyId == allergyId).FirstOrDefault();
        StateHasChanged();
    }

    #endregion


    #region Delete Functions

    public async void DeleteDish(int dishId)
    {
        FullDishDTO deletedDish = await dishService.DeleteDishAsync(dishId);
        Dishes.Remove(Dishes.Where(dish => dish.DishId == deletedDish.DishId).FirstOrDefault());
        StateHasChanged();
    }

    public async void DeleteIngredient(int ingredientId)
    {
        FullIngridientDTO deleteIngredient = await ingredientService.DeleteIngridientAsync(ingredientId);
        Ingredients.Remove(Ingredients.Where(ingredient => ingredient.IngridientId == deleteIngredient.IngridientId).FirstOrDefault());
        StateHasChanged();
    }

    public async void DeleteAllergy(int allergyId)
    {
        FullAllergyDTO deleteAllergy = await allergyService.DeleteAllergyAsync(allergyId);
        Allergies.Remove(Allergies.Where(allergy => allergy.AllergyId == deleteAllergy.AllergyId).FirstOrDefault());
        StateHasChanged();
    }

    #endregion
}

<div class="col-12 text-center mb-2">
    <h1>Menu Management</h1>
</div>


<div class="col-12">

    <h3>Kantinens Retter <button type="button" data-toggle="modal" data-target="#modalCreateDish" class="btn btn-primary">OPRET</button></h3>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Ret</th>
            </tr>
        </thead>

        <tbody>
            @if (Dishes.Count > 0)
            {
                @foreach (FullDishDTO dish in Dishes)
                {
                    <tr>
                        <th>
                            <div class="row d-flex">
                                <div class="col-3 d-flex align-items-center">
                                    <h5>@dish.DishName</h5>
                                </div>

                                <div class="col-3 d-flex align-items-center">
                                    <h5>@dish.DishCo2</h5>
                                </div>

                                <div class="col-6 d-flex justify-content-end">
                                    <div class="row">
                                        <div class="col-6 justify-content-end">
                                            <button class="btn btn-primary btn-rounded btn-normal-text" @onclick="() => { DeleteDish(dish.DishId); }">
                                                <i class="las la-trash"></i>
                                            </button>
                                        </div>

                                        <div class="col-6">
                                            <button class="btn btn-primary btn-rounded btn-normal-text" data-toggle="modal" data-target="#modalUpdateDish" @onclick="() => { SelectUpdateDish(dish.DishId); }">
                                                <i class="las la-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th>
                        <div class="row d-flex">
                            <div class="col-12 text-center">
                                <h5>Ingen retter oprettet</h5>
                            </div>
                        </div>
                    </th>
                </tr>
            }

        </tbody>
    </table>
</div>



<div class="col-12">

    <h3>Kantinens Ingreienser <button type="button" data-toggle="modal" data-target="#modalCreateIngredient" class="btn btn-primary">OPRET</button></h3>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Ingridiens</th>
            </tr>
        </thead>

        <tbody>
            @if (Ingredients.Count() > 0)
            {
                foreach (FullIngridientDTO ingredient in Ingredients)
                {
                    <tr>
                        <th>
                            <div class="row d-flex">
                                <div class="col-6 d-flex align-items-center">
                                    <h5>@ingredient.IngridientName</h5>
                                </div>

                                <div class="col-6 d-flex justify-content-end">
                                    <div class="row">
                                        <div class="col-6 justify-content-end">
                                            <button class="btn btn-primary btn-rounded btn-normal-text" @onclick="() => { DeleteIngredient(ingredient.IngridientId); }">
                                                <i class="las la-trash"></i>
                                            </button>
                                        </div>

                                        <div class="col-6">
                                            <button class="btn btn-primary btn-rounded btn-normal-text" data-toggle="modal" data-target="#modalUpdateIngreddient" @onclick="() => { SelectUpdateIngredient(ingredient.IngridientId); }">
                                                <i class="las la-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th>
                        <div class="row d-flex">
                            <div class="col-12 text-center">
                                <h5>Ingen ingridienser oprettet</h5>
                            </div>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="col-12">

    <h3>Allergier <button data-toggle="modal" data-target="#modalCreateAllergy" class="btn btn-primary">OPRET</button></h3>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Allergi</th>
            </tr>
        </thead>

        <tbody>
            @if (Allergies.Count() > 0)
            {
                foreach (FullAllergyDTO allergy in Allergies)
                {
                    <tr>
                        <th>
                            <div class="row d-flex">
                                <div class="col-6 d-flex align-items-center">
                                    <h5>@allergy.AllergyName</h5>
                                </div>

                                <div class="col-6 d-flex justify-content-end">
                                    <div class="row">
                                        <div class="col-6 justify-content-end">
                                            <button class="btn btn-primary btn-rounded btn-normal-text" @onclick="() => DeleteAllergy(allergy.AllergyId)">
                                                <i class="las la-trash"></i>
                                            </button>
                                        </div>

                                        <div class="col-6">
                                            <button class="btn btn-primary btn-rounded btn-normal-text" data-toggle="modal" data-target="#modalUpdateAllergy" @onclick="() => { SelectUpdateAllergy(allergy.AllergyId); }">
                                                <i class="las la-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                }
            }

            else
            {
                <tr>
                    <th>
                        <div class="row d-flex">
                            <div class="col-12 text-center">
                                <h5>Ingen allergier oprettet</h5>
                            </div>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>


<AutomaticObjectEditModal ModalName="modalCreateDish" ModalTitle="Opret ny ret" ModalData="@newDishObject" ModalActionButtonCallback="OnCreateDishModalCallback"></AutomaticObjectEditModal>
<AutomaticObjectEditModal ModalName="modalCreateIngredient" ModalTitle="Opret ny ingridiens" ModalData="@newIngredientObject" ModalActionButtonCallback="OnCreateIngredientModalCallback"></AutomaticObjectEditModal>
<AutomaticObjectEditModal ModalName="modalCreateAllergy" ModalTitle="Opret ny allergi" ModalData="@newAllergyObject" ModalActionButtonCallback="OnCreateAllergyModalCallback"></AutomaticObjectEditModal>

<AutomaticObjectEditModal ModalName="modalUpdateDish" ModalTitle="Rediger ret" ModalData="@selectedUpdateDish" ModalActionButtonCallback="OnUpdateDishModalCallback"></AutomaticObjectEditModal>
<AutomaticObjectEditModal ModalName="modalUpdateIngreddient" ModalTitle="Rediger ingridiens" ModalData="@selectedUpdateIngredient" ModalActionButtonCallback="OnUpdateIngredientModalCallback"></AutomaticObjectEditModal>
<AutomaticObjectEditModal ModalName="modalUpdateAllergy" ModalTitle="Rediger allergi" ModalData="@selectedUpdateAllergy" ModalActionButtonCallback="OnUpdateAllergyModalCallback"></AutomaticObjectEditModal>